@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-Poppins: 'Poppins', sans-serif;
    --font-Dynalight: 'Dynalight', cursive;

    --color-warm-white: #f5f5f5;
    --color-background: #121212;
}

body{
    @apply bg-yellow-50
}

h1 {
    @apply text-5xl md:text-6xl lg:text-7xl font-bold;
}

h2 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold text-center lg:text-start;
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.button {
    @apply px-6 py-3 rounded-lg flex items-center gap-4 bg-yellow-500 text-black w-fit font-semibold transition-all duration-300 ease-in-out cursor-pointer; 
}

.button-3 {
    @apply py-3 flex items-center gap-4 text-yellow-500 underline w-fit font-medium transition-all duration-300 ease-in-out cursor-pointer; 
}

.button-3:hover {
    @apply -translate-y-1 no-underline
}

.button:hover {
    @apply opacity-95 shadow-lg -translate-y-1;
}

.button-2 {
    @apply px-6 py-3 rounded-full flex items-center gap-4 border-2 text-black w-fit font-semibold transition-all duration-300 ease-in-out cursor-pointer; 
}

.button-2:hover {
    @apply bg-yellow-500 border-yellow-500 opacity-95 shadow-lg -translate-y-1;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* index.css */

.swiper .swiper-pagination-bullet {
  background: #d1d5db !important;
  opacity: 1;
  width: 8px;
  height: 8px;
}

.swiper .swiper-pagination-bullet-active {
  background: #f0b100 !important;
  width: 24px;
  height: 10px;
  border-radius: 9999px;
}